@import url("../fonts/Roboto/roboto.css");
@import url("reset.css");

.container{
    width: 1140px;
    margin: 0 auto;
}
.main {
    background: #f4f4f4;
    height: 1248px;
}
.nav {
    height: 70px;
    background: #FFF;
}
.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.nav__logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav__logo-text {
    font-family: "Roboto Regular";
    font-size: 24px;
    margin-left: 15px;
}
.nav__list {
    display: flex;
    align-items: center;
}
.nav__list-link {
    font-family: "Roboto Light";
    margin-left: 18px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
}
.nav__list-link_activ {
    position: relative;
    color: #d84034;
}
.nav__list-link_activ::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #d84034;
    top: 5px;
    left: -14px;
}

.nav-bottom__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}
.nav-bottom__call-us {
    font-family: "Roboto Light";
    font-size: 14px;
    color: black;
}
.nav-bottom__right-block {
    display: flex;
    align-items: center;
}
.nav-bottom__auth-block {
    display: flex;
    align-items: center;
    padding-right: 3px;
}
.nav-bottom__auth-block span {
    padding: 0px 4px;
    font-family: "Roboto Light";
    font-size: 14px;
    color: #7e7e7e;
}
.nav-bottom__register {
    font-family: "Roboto Light";
    font-size: 14px;
    margin-right: 6px;
    color:#000000;
}
.nav-bottom__auth-link {
    font-family: "Roboto Light";
    font-size: 14px;
    text-decoration: none;
    color: #000;
}
.nav-bottom__auth-link:hover {
    color: #2879fe;
}
.nav-bottom-cart {
    cursor: pointer;
}
.nav-bottom-cart:hover path {
    stroke: #2879fe;
}
.panel__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 77px;
}
.panel__search {
    position: relative;
    width: 360px;
}
.panel__search-input {
    width: 100%;
    height: 40px;
    padding-left: 36px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    font-size: 14px;
    font-family: "Roboto Light";
    box-sizing: border-box;
}
.panel__search-input:focus {
    outline: none;
}
.panel__search-input:focus + .panel__icon-lupe path {
    fill: #000000;
}
.panel__search-input::placeholder {
    font-size: 14px; 
    color: #b2b2b2;
}
.panel__search-input::-webkit-input-placeholder {
    color:#B2B2B2;
    font-size: 14px; 
}
.panel__search-input::-moz-placeholder {
    color:#B2B2B2;
    font-size: 14px; 
}
.panel__search-input::-moz-placeholder {
    color:#B2B2B2;
    font-size: 14px; 
}
.panel__search-input::-ms-input-placeholder {
    color:#B2B2B2;
    font-size: 14px; 
}
.panel__icon-lupe {
    position: absolute;
    top: 14px;
    left: 14px;
}
.panel__header {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel__product-count {
    font-size: 18px;
    font-family: "Roboto Light";
    color: #000000;
}
.panel__view-icons-wrapper {
    display: flex;
    align-items: center;
}
.panel__icon {
    margin-left: 8px;
}
.panel__icon_active .panel__icon-rect-active {
    fill: #ADADAD;
}
.catalog__wrapper {
    display: flex;
    justify-content: space-between;
}
.catalog-product__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 359px;
    height: 88px;
    background: #282828;
    transition: all .3s ease-in-out;
}
.catalog__link {
    position: relative;
    color: #FFFF;
    text-decoration: none;
    font-size: 24px;
    font-family: "Roboto Bold";
}
.catalog-product__link:hover {
    background: #878787;
    cursor: pointer;
    color: #000000;
} 
.catalog-product__link_active {
    background: #878787;
}
.catalog__count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    right: -24px;
    top: -5px;
    width: 22px;
    height: 22px;
    background: #d84034;
    font-size: 17px;
}

/* block
    block__element
    block__secrond-element */


.catalog-product__block {
    width: 750px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.catalog-product__block-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 358px;
    height: 353px;
    border: 1px solid #FFFF;
    background: #FFFF;
    margin-bottom: 27px;
    overflow: hidden;
}
.catalog-product__block-wrapper:hover .catalog-product__lupe-block {
    display: flex;
    cursor: pointer;
    top: 0;
}
.catalog-product__lupe-block {
    display: none; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    background: rgba(128, 152, 213, 0.51);
    transition: all .3s ease-in-out;
}
.catalog-product__images {
    position: absolute;
    padding-top: 53px;
}
.catalog-product__block-text {
    position: absolute;
    left: 17px;
    bottom: 20px;
}
.catalog-product__name-of-goods {
    font-family: "Roboto Light";
    font-size: 18px;
    margin-bottom: 9px;
}
.catalog-product__price {
    font-family: "Roboto Bold";
    font-size: 18px;
}